.white {
    height: 60px;
}

@media screen and (max-width: 1024px){

    .topic {
        margin-top: 20px;
        max-width: 40%;
    }

    .content{
        max-width: 100%;
        margin-left: 0px !important;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.topic {
    margin-left: 70px;
    border-style: hidden;
    display: inline-block;

}
#topic_word {
    font-size: 40px;
}

#topic_word_space:hover {
    color: rgb(134, 134, 134);
}

#shop:hover {
    color: rgb(134, 134, 134);
}

#topic_word_space {
    text-decoration-line:none;
    margin-right: 107px;
    color: black;
}
#shop {
    text-decoration-line:none;
    color: black;
}

.logo {
    margin-top: 30px;
    margin-left: 120px;
    width: 200px;
    height: 200px;
    border-style: hidden;
    float: left;
}

.content {
    font-size: 20px;
    width: 1000px;
    height: 1250px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 70px;
    border-style: hidden;
    display: inline-block;
}